<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RoboSecurity</title>
  </head>
  <body>
    <h1 style="background-color:DodgerBlue;">RoboSecure: The Home of Security</h1>
    <p>Yanshee MK1 is our advance AI  robotic security system .....</p>
  
    <h2 style="background-color:rgb(255, 30, 30);">Guard Features Offered:</h2>
    <ul>
      <li>Facial recognition</li>
      <li>Voice response</li>
      <li>Warning response</li>
      <li>Alarm control</li>
      <li>Alert response</li>
      <li>Provide daily incident reporting</li>
      <li>Perimeter patrol</li>
      <li>Intruder alert</li>
    </ul>
<h2 style="background-color:rgb(255, 30, 30);">Customization</h2>
<p>Yanshee can be customized as a personal body guard with ability for hand to hand combat in:</p>
<ul>
  <li>Tae Kondo</li>
  <li>Jujitsu</li>
  <li>Boxing</li>
  <li>Karate</li>
</ul>
  <a style="color:DodgerBlue;" href="https://secureroboapp.herokuapp.com/secondrequest">click to make an appoint for trial</a>
 <!-- a style="color:DodgerBlue;" href="https://medium.com/python-point/http-basics-and-examples-5530a283c4d1">click to make an appoint for trial</a -->
  <img  src="/static/Yanshee.jpg" alt = "RoboSecure" width ="104" height="100"
  </body>
</html>
