<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1 style="background-color:DodgerBlue;">WELCOME The World of AI Security - Make your first Step!</h1>
    <h1 style="background-color:rgb(255, 30, 30);">RoboSecure Contact</h1>
    <p>Call Inspector Tom</p>
    <p>+6582695542</p>
    <h2>Email:</h2>
    <p style="color:DodgerBlue;">inspectorTom@robosecure.org</p>

    <!-- p id="userAgent"></p>

    <script>
      var htmlUpdate = document.getElementById('userAgent');
      var agent = '{{ userAgent|safe }}';
      htmlUpdate.textContent = "I know you are using " + agent;
    </script>
  </body>
</html>
